@import '../../../../foundation/app/assets/css/main.css';

@import './base';
@import './utilities';
@import '#stir-presentation-source';

@theme static {
  --font-admin: system-ui, sans-serif;

  --container-8xl: 96rem;
  --breakpoint-xs: 30rem;

  --animate-soft-pulse: softPulse 1.6s ease-in-out infinite;

  @keyframes softPulse {
    0%,
    100% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
  }
}

:root {
  --ui-container: var(--container-8xl);
}
